build/Debug/*

build/.vs
build/*.lib
build/Release/obj
build/Release/*.iobj
build/Release/*.ipdb
build/Release/*.pdb
build/Release/*.map
build/Release/*.ilk
build/Release/obj.target

src
examples
third_party

test.mjs
test.html
window.mjs
